@model IEnumerable<EduLife.Models.Instruction>
@{
    ViewData["Title"] = "Edit";
}

<table class="table">
	<tr>
		<th>
			My instructions:
		</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>@item.InstructionID</td>
			<td>
				<a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.InstructionID"> Edit </a>
			</td>
			<td>
				<form asp-action="Delete" asp-route-id="@item.InstructionID" methos="post">
					<button type="submit" class="btn btn-sm btn-danger"> Delete</button>
				</form>
			</td>
		</tr>

	}
</table>