@model IEnumerable<EduLife.Models.User>
@{
    ViewData["Title"] = "Index";
}



<table class="table">
	<tr>
		<th>
			Users:
		</th>
	</tr>
	@foreach(var item in Model)
	{
		<tr>
			<td>@item.Email</td>
			<td>
				<a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.Id"> Edit </a>	
			</td>
			<td>
				<form asp-action="Delete" asp-route-id="@item.Id" methos="post">
					<button type="submit" class="btn btn-sm btn-danger"> Delete</button>
				</form>
			</td>
		</tr>

	}
</table>