@model EduLife.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
}
<div class="container">
	<div class="omb_login">
		<h3 class="omb_authTitle">Login or <a asp-area="" asp-controller="Account" asp-action="Register">Sign up</a></h3>
		<div class="row omb_row-sm-offset-3 omb_socialButtons">
			<div class="col-xs-4 col-sm-2">
				<a href="#" class="btn btn-lg btn-block omb_btn-facebook">
					<i class="fa fa-facebook visible-xs"></i>
					<span class="hidden-xs">Facebook</span>
				</a>
			</div>
			<div class="col-xs-4 col-sm-2">
				<a href="#" class="btn btn-lg btn-block omb_btn-twitter">
					<i class="fa fa-twitter visible-xs"></i>
					<span class="hidden-xs">Twitter</span>
				</a>
			</div>
			<div class="col-xs-4 col-sm-2">
				<a href="#" class="btn btn-lg btn-block omb_btn-google">
					<i class="fa fa-google-plus visible-xs"></i>
					<span class="hidden-xs">Google+</span>
				</a>
			</div>
		</div>
		<div class="row omb_row-sm-offset-3 omb_loginOr">
			<div class="col-xs-12 col-sm-6">
				<hr class="omb_hrOr">
				<span class="omb_spanOr">or</span>
			</div>
		</div>
		<div class="row omb_row-sm-offset-3">
			<div class="col-xs-12 col-sm-6">

				<form class="omb_loginForm" method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
					<div  asp-validation-summary="ModelOnly" class="help-block"></div>

					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-user"></i></span>
						<input asp-for="Name" class="form-control" placeholder="Email address" />
					</div>
					<span class="help-block"></span>
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-lock"></i></span>
						<input asp-for="Password" class="form-control" placeholder="Password" />
					</div>
					<div>
						<span class="help-block"></span>
						<input class="btn btn-lg btn-primary btn-block" type="submit" value="Login" />
					</div>
					<div>
						<input asp-for="RememberMe" />
						<label asp-for="RememberMe"></label>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
